# Server Configuration
PORT=5000
NODE_ENV=development
CORS_ORIGIN=*
DOTENV_QUIET=true

# Database Configuration 
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net

# JWT Authentication
ACCESS_TOKEN_SECRET=your_access_token_secret_key_here
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=your_refresh_token_secret_key_here
REFRESH_TOKEN_EXPIRY=10d
JWT_SECRET=your_access_token_secret_key_here
JWT_EXPIRE=1d

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
